@import '~antd/dist/antd.css';

.layout-toplevel {
    height: 100vh;
}

.banner {
    background-color: #fff;
    padding: 0;
    float: 'left';
    width: '100%';
    align-self: 'center';
    display: 'flex';
}

.trigger {
    margin-left: 16px;
    margin-right: 16px;
    align-self: center;
}